<!DOCTYPE html>
<html>
<%- include('layout/head'); -%>
<body>

<div class="body">
    <%- include('layout/header'); -%>
    <div role="main" class="main">
        <div class="slider-container rev_slider_wrapper" style="height: 350px;">
            <div
                    id="revolutionSlider"
                    class="slider rev_slider"
                    data-version="5.4.8"
                    data-plugin-revolution-slider
                    data-plugin-options="{'delay': 9000, 'gridwidth': 800, 'gridheight': 350, 'spinner': 'off'}"
            >
                <ul>
                    <li class="slide-overlay slide-overlay-level-7" data-transition="fade">
                        <img
                                src="img/digital-services.jpg"
                                alt=""
                                data-bgposition="center center"
                                data-bgfit="cover"
                                data-bgrepeat="no-repeat"
                                data-kenburns="on"
                                data-duration="9000"
                                data-ease="Linear.easeNone"
                                data-scalestart="115"
                                data-scaleend="100"
                                data-rotatestart="0"
                                data-rotateend="0"
                                data-offsetstart="0 -200"
                                data-offsetend="0 200"
                                data-bgparallax="0"
                                class="rev-slidebg"
                        />
                    </li>
                </ul>
            </div>
        </div>

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 mt-5 title-with-video-custom text-center">
                    <h1 class="mt-5 pt-5 font-weight-semibold">About</h1>
                    <p class="mb-0 text-4 opacity-7">We help people sell better. So they can have more freedom, in their business and in their life.</p>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row mb-5 pb-5 mt-5 pt-5">
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-6">
                            <h4 class="font-weight-extra-bold">Company</h4>
                            <p class="">Yes Distribution is a multichannel e-commerce platform that centralizes the activities an online seller undertakes in order to run their
                                e-commerce business. This includes product, order, price and quantity management; as well as accounting, inventory planning, and analytics.</p>
                        </div>
                        <div class="col-lg-6">
                            <h4 class="font-weight-extra-bold">Mission</h4>
                            <p class="">We’re on a mission to simplify all aspects of e-commerce management so retailers and their teams can spend more time building their brands
                                and serving their customers.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 d-none d-sm-block">
                    <div class="row text-center mt-5 mt-lg-0">
                        <div class="col-md-8 col-lg-6 mx-auto">
                            <img class="img-fluid m-3 my-0 mt-lg-5" src="img/demos/digital-agency/office/our-office-1.jpg" alt="Office">
                            <img class="img-fluid m-3 my-0" src="img/demos/digital-agency/office/our-office-3.jpg" alt="Office">
                        </div>
                        <div class="col-md-8 col-lg-6 mx-auto">
                            <img class="img-fluid m-3 my-0" src="img/demos/digital-agency/office/our-office-2.jpg" alt="Office">
                            <img class="img-fluid m-3 my-0" src="img/demos/digital-agency/office/our-office-4.jpg" alt="Office">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section class="section section-default border-0">
            <div class="container py-4">
                <div class="row counters">
                    <div class="col-sm-6 col-lg-3 mb-5 mb-lg-0">
                        <div class="counter">
                            <i class="icons icon-user text-color-dark"></i>
                            <strong class="text-color-dark font-weight-extra-bold" data-to="30000" data-append="+">0</strong>
                            <label class="text-4 mt-1">Happy Clients</label>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 mb-5 mb-lg-0">
                        <div class="counter">
                            <i class="icons icon-badge text-color-dark"></i>
                            <strong class="text-color-dark font-weight-extra-bold" data-to="15">0</strong>
                            <label class="text-4 mt-1">Years In Business</label>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 mb-5 mb-sm-0">
                        <div class="counter">
                            <i class="icons icon-graph text-color-dark"></i>
                            <strong class="text-color-dark font-weight-extra-bold" data-to="178">0</strong>
                            <label class="text-4 mt-1">High Score</label>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="counter">
                            <i class="icons icon-cup text-color-dark"></i>
                            <strong class="text-color-dark font-weight-extra-bold" data-to="352">0</strong>
                            <label class="text-4 mt-1">Cups of Coffee</label>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section section-default section-footer border-0">
            <div class="container py-4">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="mb-0 mt-3 font-weight-extra-bold text-6">We work with</h2>
                        <p class="text-4 mb-3">and many more ...</p>
                        <div class="divider divider-primary divider-small divider-small-center mb-3">
                            <hr>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="content-grid col mt-5 mb-4">
                        <div class="row content-grid-row">
                            <div class="content-grid-item col-lg-4 text-center py-4">
                                <img class="img-fluid" src="img/logos/logo-1.png" style="max-width: 180px" alt="">
                            </div>
                            <div class="content-grid-item col-lg-4 text-center py-4">
                                <img class="img-fluid" src="img/logos/logo-2.png" style="max-width: 180px" alt="">
                            </div>
                            <div class="content-grid-item col-lg-4 text-center py-4">
                                <img class="img-fluid" src="img/logos/logo-3.png" style="max-width: 180px" alt="">
                            </div>
                        </div>
                        <div class="row content-grid-row">
                            <div class="content-grid-item col-lg-4 text-center py-4">
                                <img class="img-fluid" src="img/logos/logo-4.png" style="max-width: 180px" alt="">
                            </div>
                            <div class="content-grid-item col-lg-4 text-center py-4">
                                <img class="img-fluid" src="img/logos/logo-5.png" style="max-width: 180px" alt="">
                            </div>
                            <div class="content-grid-item col-lg-4 text-center py-4">
                                <img class="img-fluid" src="img/logos/logo-6.png" style="max-width: 180px" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <%- include('layout/footer'); -%>
</div>
<%- include('layout/scripts'); -%>
</body>
</html>
