<!DOCTYPE html>
<html>
<%- include('layout/head'); -%>
<body>
<div class="body">
    <%- include('layout/header'); -%>

    <div role="main" class="main">
        <div class="slider-container rev_slider_wrapper" style="height: 350px;">
            <div
                    id="revolutionSlider"
                    class="slider rev_slider"
                    data-version="5.4.8"
                    data-plugin-revolution-slider
                    data-plugin-options="{'delay': 9000, 'gridwidth': 800, 'gridheight': 350, 'spinner': 'off'}"
            >
                <ul>
                    <li class="slide-overlay slide-overlay-level-7" data-transition="fade">
                        <img
                                src="img/digital-services.jpg"
                                alt=""
                                data-bgposition="center center"
                                data-bgfit="cover"
                                data-bgrepeat="no-repeat"
                                data-kenburns="on"
                                data-duration="9000"
                                data-ease="Linear.easeNone"
                                data-scalestart="115"
                                data-scaleend="100"
                                data-rotatestart="0"
                                data-rotateend="0"
                                data-offsetstart="0 -200"
                                data-offsetend="0 200"
                                data-bgparallax="0"
                                class="rev-slidebg"
                        />
                    </li>
                </ul>
            </div>
        </div>

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 mt-5 title-with-video-custom text-center">
                    <h1 class="mt-5 pt-5 font-weight-semibold">Services</h1>
                </div>
            </div>
        </div>

        <section class="section section-default mt-0">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12 text-center">
                        <h2 class="mt-5 mb-5 pb-0">
                            We equips online Sellers with cutting edge powerful software solutions and expert services for automating sync of product listings, inventory, orders
                            across Amazon, eBay, Walmart, Google, Facebook, Jet and +200 more shopping sites globally via a single software interface.
                        </h2>
                    </div>
                </div>
            </div>
        </section>

        <section class="m-5 pb-3">
            <div class="container pt-4 pb-3">
                <div class="row">
                    <div class="col text-center">
                        <h2 class="mb-0 mt-3 font-weight-bold text-6">We Can Help You With:</h2>
                        <p class="text-4 mb-3">Pellentesque pellentesque eget tempor tellus.</p>
                        <div class="divider divider-primary divider-small divider-small-center mb-3">
                            <hr/>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="container-fluid">
            <div class="row featured-boxes-full featured-boxes-full-scale clearfix">
                <div class="col-lg-4 featured-box-full featured-box-full-primary">
                    <i class="icon-directions icons"></i>
                    <h4 class="mt-3">Price Management</h4>
                    <p>Manage product pricing across marketplaces from a single location.
                        Update prices via a spreadsheet or FTP/SFTP.
                        We also offer Walmart and Amazon repricers,
                        Amazon Buy Box monitoring, and new offer alerts.</p>
                </div>
                <div class="col-lg-4 featured-box-full featured-box-full-primary">
                    <i class="icon-puzzle icons"></i>
                    <h4 class="mt-3">Analytics</h4>
                    <p>
                        Data analytics dashboard -
                        Various cross-channel visual and CSV reports detailing your e-commerce business's trends.
                    </p>
                </div>
                <div class="col-lg-4 featured-box-full featured-box-full-primary">
                    <i class="icon-rocket icons"></i>
                    <h4 class="mt-3">Automation</h4>
                    <p> Create rules to automate tasks
                        Modify orders and trigger a variety of actions based on custom rules to automate your work.</p>
                </div>
            </div>
        </div>

        <section class="m-5 pb-3">
            <div class="container pt-4 pb-3">
                <div class="row justify-content-center mt-5">
                    <div class="col-md-10 col-lg-4 text-center">
                        <div
                                class="feature-box feature-box-style-4 justify-content-center appear-animation"
                                data-appear-animation="fadeInUp"
                                data-appear-animation-delay="0"
                        >
                  <span class="featured-boxes featured-boxes-style-6 p-0 m-0">
                    <span class="featured-box featured-box-primary featured-box-effect-6 p-0 m-0">
                      <span class="box-content p-0 m-0">
                        <i class="icon-featured icon-bulb icons"></i>
                      </span>
                    </span>
                  </span>
                            <div class="feature-box-info">
                                <h4 class="mb-2 mt-3 text-4 text-uppercase font-weight-bold">Marketing</h4>
                                <p class="mb-4">
                                    In-depth product sales performance reports with insightful best practices strategies.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10 col-lg-4 text-center">
                        <div
                                class="feature-box feature-box-style-4 justify-content-center appear-animation"
                                data-appear-animation="fadeInUp"
                                data-appear-animation-delay="300"
                        >
                  <span class="featured-boxes featured-boxes-style-6 p-0 m-0">
                    <span class="featured-box featured-box-primary featured-box-effect-6 p-0 m-0">
                      <span class="box-content p-0 m-0">
                        <i class="icon-featured icon-puzzle icons"></i>
                      </span>
                    </span>
                  </span>
                            <div class="feature-box-info">
                                <h4 class="mb-2 mt-3 text-4 text-uppercase font-weight-bold">Strategy</h4>
                                <p class="mb-4">
                                    Sync multi-channel orders and track shipped orders, impeccably.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10 col-lg-4 text-center">
                        <div
                                class="feature-box feature-box-style-4 justify-content-center appear-animation"
                                data-appear-animation="fadeInUp"
                                data-appear-animation-delay="600"
                        >
                  <span class="featured-boxes featured-boxes-style-6 p-0 m-0">
                    <span class="featured-box featured-box-primary featured-box-effect-6 p-0 m-0">
                      <span class="box-content p-0 m-0">
                        <i class="icon-featured icon-rocket icons"></i>
                      </span>
                    </span>
                  </span>
                            <div class="feature-box-info">
                                <h4 class="mb-2 mt-3 text-4 text-uppercase font-weight-bold">Launch</h4>
                                <p class="mb-4">
                                    Create optimized product listings on all major online shopping sites.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="container-fluid">

            <div class="row featured-boxes-full featured-boxes-full-scale clearfix">
                <div class="col-lg-4 featured-box-full featured-box-full-primary">
                    <i class="icon-directions icons"></i>
                    <h4 class="mt-3">Product Listing</h4>
                    <p>The key to successful online selling is efficient product listing. Do this correctly, optimize your products and boost your sales with the most powerful
                        e-commerce solution.</p>
                </div>
                <div class="col-lg-4 featured-box-full featured-box-full-primary">
                    <i class="icon-puzzle icons"></i>
                    <h4 class="mt-3">Inventory & Order Management</h4>
                    <p>
                        Say goodbye to all the stock management problems. Bid adieu your order fulfillment worries too. With us, enjoy seamless multi-channel, real-time inventory
                        and delivery feed.
                    </p>
                </div>
                <div class="col-lg-4 featured-box-full featured-box-full-primary">
                    <i class="icon-rocket icons"></i>
                    <h4 class="mt-3">Managed Services</h4>
                    <p> Doing it all alone can be quite hectic. Besides, why spend all your time in small, manual backend work? Our 360 managed services have got you covered from
                        every angle.</p>
                </div>
            </div>
        </div>

        <section class="section section-default section-footer section-color-custom mt-0 pt-2 pb-5">
            <div class="container py-4">
                <div class="row mt-2 mb-4 align-items-center">
                    <div class="col-4 text-center">
                        <img
                                class="img-fluid appear-animation mt-5 pt-5"
                                src="img/demos/digital-agency/laptop.png"
                                style="width: 125% !important; max-width: 125%; left: -25%; position: relative;"
                                alt="layout styles"
                                data-appear-animation="fadeInLeft"
                        />
                    </div>
                    <div class="col-8">
                        <h2 class="mb-1 mt-5 font-weight-bold text-6">
                            Continuous improvement with Software as a Service (SaaS)
                        </h2>
                        <div class="divider divider-primary divider-small mb-5">
                            <hr/>
                        </div>
                        <p class="lead">
                            All our soft runs in the cloud. There's no software to install and you can be up
                            and running in under 15 minutes. Launch multiple storefronts and expand your
                            business with marketplaces and international markets, instantly. Enjoy custom
                            domains and unlimited products for infinite storefront expansion, as well as CDN
                            optimization, product import tools, and on-the-fly image processing for optimizing
                            digital content across web, mobile, and devices.
                        </p>
                        <p>
                            With centralized control, multi-store retailers can customize everything including
                            store locations, tax rules, and promotions, all from one system. Also, we are PCI
                            Compliant, scalable and secure, with DDoS Protection and SSL Encryption.
                        </p>

                        <a
                                class="btn btn-outline btn-primary text-1 font-weight-semibold text-uppercase px-5 btn-py-2 mb-3"
                                href="demo-digital-agency-contact.html"
                        >Get a Quote</a
                        >
                    </div>
                </div>
            </div>
        </section>
    </div>

    <%- include('layout/footer'); -%>
</div>
<%- include('layout/scripts'); -%>
</body>
</html>
