<!DOCTYPE html>
<html>
<%- include('layout/head'); -%>
<body>

<div class="body">
    <%- include('layout/header'); -%>
    <div role="main" class="main">
        <div class="slider-container rev_slider_wrapper" style="height: 350px;">
            <div
                    id="revolutionSlider"
                    class="slider rev_slider"
                    data-version="5.4.8"
                    data-plugin-revolution-slider
                    data-plugin-options="{'delay': 9000, 'gridwidth': 800, 'gridheight': 350, 'spinner': 'off'}"
            >
                <ul>
                    <li class="slide-overlay slide-overlay-level-7" data-transition="fade">
                        <img
                                src="img/digital-services.jpg"
                                alt=""
                                data-bgposition="center center"
                                data-bgfit="cover"
                                data-bgrepeat="no-repeat"
                                data-kenburns="on"
                                data-duration="9000"
                                data-ease="Linear.easeNone"
                                data-scalestart="115"
                                data-scaleend="100"
                                data-rotatestart="0"
                                data-rotateend="0"
                                data-offsetstart="0 -200"
                                data-offsetend="0 200"
                                data-bgparallax="0"
                                class="rev-slidebg"
                        />
                    </li>
                </ul>
            </div>
        </div>

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 mt-5 title-with-video-custom text-center">
                    <h1 class="mt-5 pt-5 font-weight-semibold">Work</h1>
                    <p class="mb-0 text-4 opacity-7">We empowers brands to achieve a range of business objectives. Select a goal below and read about how we adjust our strategies to support it</p>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row mb-5 pb-5 mt-5 pt-5">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-4">
                            <h4 class="font-weight-extra-bold">SCALE THE MARKET</h4>
                            <p class="">The powerhouse solution for holistic partnerships. Utilize the entirety of the etailz platform to expedite growth on every front, expanding your reach, maximizing efficiency, and amplifying sales, all while protecting your brand’s integrity online.</p>
                        </div>
                        <div class="col-lg-4">
                            <h4 class="font-weight-extra-bold">PROTECT YOUR BRAND</h4>
                            <p class="">Unauthorized sellers? Customers receiving counterfeit product? Pricing all over the place? It’s difficult to grow if you’re stuck playing defense. We offer a comprehensive solution designed to protect your brand against IPR violations, counterfeiters, unauthorized sellers, suppressed listings, and account shutdowns through etailz’s dedicated compliance team, proprietary software, and notification system.</p>
                        </div>
                        <div class="col-lg-4">
                            <h4 class="font-weight-extra-bold">CONVERT MORE CUSTOMERS</h4>
                            <p class="">Looking to grow your sales? Look no further. etailz’s marketing solutions deliver highly profitable marketing campaigns. We’ll deploy sponsored ads, marketplace SEO, and social media marketing to grow your audience, increase sales, and expand your market share. </p>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <%- include('layout/footer'); -%>
</div>
<%- include('layout/scripts'); -%>
</body>
</html>
